<header>
  <h1>Vedado Control</h1>
  <nav>
    <a href="#" {{if eq . "home"}} class="active"{{end}}>Home</a>
    <a href="/lights.html" {{if eq . "lights"}} class="active"{{end}}>Lights</a>
    <a href="#" {{if eq . "security"}} class="active"{{end}}>Security</a>
    <a href="#" {{if eq . "temperature"}} class="active"{{end}}>Temperature</a>
    <a href="#" {{if eq . "blinds"}} class="active"{{end}}>Blinds</a>
    <a href="#" {{if eq . "music"}} class="active"{{end}}>Music</a>
  </nav>
</header>
